@import "variables";

@import "~bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

@import "https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap";

@import "utilities";

.sidebar {
    .logo {
        .logo-text {
            font-family: 'Merriweather', serif;
            font-size: 2.5rem;
            text-decoration: none;
        }
    }

    .search {
        button[type="submit"] {
            background-color: $white;

            &:hover {
                background-color: $secondary;
            }
        }
    }

    .navigation {
        a {
            text-decoration: none;

            &:hover {
                color: $primary !important;
            }
        }
    }
}
