$flag-icon-css-path: '~flag-icon-css/flags';
$include: gb, nl, de;
@import '~flag-icon-css/sass/flag-icon';

.flag-icon-en {
    background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/gb.svg);

    &.flag-icon-squared {
        background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/gb.svg);
    }
}
